.chores {
  color: rgb(89, 0, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

ul {
  font-style: italic;
}
